[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
altgraph = "*"
attrs = "*"
cffi = "*"
contourpy = "*"
cycler = "*"
flatbuffers = "*"
fonttools = "*"
kiwisolver = "*"
matplotlib = "*"
mediapipe = "*"
mouseinfo = "*"
numpy = "*"
opencv-contrib-python = "*"
opencv-python = "*"
packaging = "*"
pefile = "*"
pillow = "*"
protobuf = "*"
pycparser = "*"
pydirectinput = "*"
pygetwindow = "*"
pyinstaller-hooks-contrib = "*"
pymsgbox = "*"
pyparsing = "*"
pyperclip = "*"
pyrect = "*"
pyscreeze = "*"
python-dateutil = "*"
pytweening = "*"
pywin32-ctypes = "*"
six = "*"
sounddevice = "*"

[dev-packages]

[requires]
python_version = "3.12.5"
